.Header{
    background-color: #3689C8;
    display: block;
    height: 65px;
}

.Title{
    font-weight: bold;
    font-size: 36px;
    color: white;
    text-align: center;
    display: inline-block;
    
}

.Addbutton{
    
    height: 43px;
    width: 122px;
    background-color: #41DF27;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    
    margin-top: 10px;
}

.All{
    text-align: center;
}

.InputTo{
    margin-top: 10px;
    border-radius: 10px;
    width: 512px;
}

.AddNewTask{
    margin-top: 10px;
    color: #625858;
    font-weight: bold;
    font-size: 16px;
}

.InputToDeadline{
    margin-top: 10px;
    border-radius: 10px;
    width: autopx;
}

.Deadlinetext{
    color: red;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.logout{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(204, 11, 11);
    color: white;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
   bottom: 20px;
   right: 20px;

    
    
}

.wrapper{
    text-align: center;
}

.TodoText{
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;
}

.delbutt{
    
    
    background-color: #625858;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 18px;
    padding: 2px;
    margin-left: 10px;
    
    margin-top: 10px;
    
    
}

body{
    background-image: url(images/whitec.jpg);
    background-attachment: scroll;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.wrap{
    background-color: white;
    padding: 20px;
    
    display: inline;
    border: 0.5px solid #625858 !important;
    border-radius: 10px;
    
    
    
    
    
    
    
}

.liwrap{
    margin-top: 40px;
    
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}


  
.dropdown{
    
    text-align: left;
    
}

